.grid-gap {
  gap: var(--grid-gap);
}

@media screen and (min-width: 600.001px) {
  .grid-gap-sm {
    gap: var(--grid-gap-sm);
  }
}
@media screen and (min-width: 960.001px) {
  .grid-gap-md {
    gap: var(--grid-gap-md);
  }
}
@media screen and (min-width: 1280.001px) {
  .grid-gap-lg {
    gap: var(--grid-gap-lg);
  }
}
@media screen and (min-width: 1920.001px) {
  .grid-gap-xl {
    gap: var(--grid-gap-xl);
  }
}
